#addPizza {
  display: none;
}

.jumbotron {
  text-align: center;
  background-color: #a51c1c;
  opacity: 60%;
  color: black;
}

body {
  background-color: #c88d53;
}

p {
  font-size: 25px;
  line-height: 150px;
}

.card {
  background-color: #c88d53;
  border-width: medium;
}

.col-md-12 {
  margin-top: 50px;
}

img {
  height: 500px;
}

.btn {
  border-color: black;
  border-width: 4px;
}

h4 {
  word-spacing: 10px;

}

#outputOrders {
  display: none;
}
